# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Shared objects
*.so

# Distribution / packaging
build/
*.egg-info/
*.egg

# Temporary files
*.swn
*.swo
*.swp

*.mat
*.pkl
!DensePoseData/demo_data/demo_dp_single_ann.pkl
*.tar.gz
*.json
!challenge/2018_COCO_DensePose/example_results.json

*.DS_Store
# Dataset symlinks
detectron/datasets/data/*
!detectron/datasets/data/README.md

# Generated C files
detectron/utils/cython_*.c

notebooks_old/*
configs_old/*


.nfs*
